body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 200%;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

div {}

.top-container {
  background-color: #dff6f0;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}
a{
  color: #11999E;
 font-family: 'Montserrat', sans-serif;
 margin: 10px 20px;
 text-decoration: none;
 font-size: 1rem;
}
a:hover {
  color: #EAF6F6;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.top-clouds {
  position: absolute;
  right: 300px;
  bottom: 300px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

P {
  line-height: 2;
  font-size: 1rem;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.first-imag {
  width: 25%;
  border-radius: 100%;
  float: left;
  margin-right: 30px;
}

.second-imag {
  width: 25%;
  border-radius: 100%;
  float: right;
  margin-left: 30px;
}

.third-imag {
  width: 12%;
  border-radius: 100%;
}

.main-title {
  font-size: 2.5rem;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}
.copyright{
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.btn{
 display: inline-block;
 border:1px solid #51eaea;
 color: #FFFFFF;
 border-radius: 3px 3px 3px 3px;
 -webkit-border-radius: 3px 3px 3px 3px;
 -moz-border-radius: 3px 3px 3px 3px;
 font-family: 'Montserrat', sans-serif;
 width: auto;
 height: auto;
 font-size: 20px;
 padding: 7px 30px;
 box-shadow: inset 0 1px 0 0 #fff6ce,inset 0 -1px 0 0 #e3c852,inset 0 0 0 1px #fce88d,0 2px 4px 0 #D4D4D4;
 -moz-box-shadow: inset 0 1px 0 0 #fff6ce,inset 0 -1px 0 0 #e3c852,inset 0 0 0 1px #fce88d,0 2px 4px 0 #D4D4D4;
 -webkit-box-shadow: inset 0 1px 0 0 #fff6ce,inset 0 -1px 0 0 #e3c852,inset 0 0 0 1px #fce88d,0 2px 4px 0 #D4D4D4;
 background-image: linear-gradient(to top, #30E3CD, #30E3CD);
 background-color: #66BFBF;
}
.btn:hover, .btn:active{
 border:1px solid #e3c852;
 color: #e3c852;
 background-color: #e3c852;
}
